# ORACLE CLOUD HERMES DEV
#DB_DIALECT=oracle
#DB_USER=USR_HERMES_DEV
#DB_PASSWD='deVkHrmZz835rjs'
#DB_SCHEMA='USR_HERMES_DEV'
#DB_CONNECTSTRING='(description= (retry_count=20)(retry_delay=3)(address=(protocol=tcps)(port=1522)(host=10.93.10.114))(connect_data=(service_name=gbe8f3f2dbbc562_dwpdb_low.adb.oraclecloud.com))(security=(ssl_server_dn_match=no)))'
#libDir=''

#ORACLE CLOUD HERMES QA
 DB_DIALECT=oracle
 DB_USER=USR_HERMES
 DB_PASSWD='UHWd3rI!7AO95b'
 DB_SCHEMA='USR_HERMES'
 DB_CONNECTSTRING='(description= (retry_count=20)(retry_delay=3)(address=(protocol=tcps)(port=1522)(host=10.93.10.114))(connect_data=(service_name=gbe8f3f2dbbc562_dwpdb_low.adb.oraclecloud.com))(security=(ssl_server_dn_match=no)))'


# ORACLE CLOUD HERMES PRD
# DB_DIALECT=oracle
# DB_USER=USR_HERMES
# DB_PASSWD='UHgn24#prdEngAwd'
# DB_SCHEMA='USR_HERMES'
# DB_CONNECTSTRING='(description= (retry_count=20)(retry_delay=3)(address=(protocol=tcps)(port=1522)(host=10.93.10.234))(connect_data=(service_name=gbe8f3f2dbbc562_dwpdbprd_low.adb.oraclecloud.com))(security=(ssl_server_dn_match=no)))'
# libDir=''

ENV_RABBITMQ="amqp://localhost:5672"
